/*
    Color Palette

    Standard:
    White: #FFF
    Black: #000

    Threedom:
    Green: #35654D
    Blue: #395C94
    Red: #924534

    Grey:
    Dark: #394B41
    Light: #9CB0A4
*/

/*Header*/
header {
    background-color: #394B41;
}


#page- title {
    color: #FFF;
}

.header-icon {
    width: 1rem;
}

#icon-diamond {
    color: red;
}

/*Main*/
main {
    background-color: #9CB0A4;
}

/*Footer*/
footer {
    background-color: #394B41;
}