/*
    Color Palette

    Standard:
    White: #FFF
    Black: #000

    Threedom:
    Green: #35654D
    Blue: #395C94
    Red: #924534

    Grey:
    Dark: #394B41
    Light: #9CB0A4
*/

/*Asterisk to override defaults*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic Styles*/
    color: #000;

}

.white-text {
    color: #FFF;
}

/*Header*/
header {
    background-color: #394B41;

    display: flex;
    justify-content: center;
    padding: 1rem;

    flex-direction: column;
}

.suit-icons {
    display: flex;
    list-style: none;
    justify-content: center;
}

.header-icon {
    width: 1.5rem;
}

.li-icon {
    padding: 0rem 1rem;
}

#page-title {
    display: flex;
    justify-content: center;
}

/*Main*/
main {
    background-color: #9CB0A4;
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.home-text {
    text-align: center;
}

.hbutton {
    border: solid 0.5rem #000;
    border-radius: 50%;

    color: #FFF;

    width: 5rem;
    height: 5rem;

    text-align: center;
    text-decoration: none;

    font-size: 2rem;

    display: block;
    margin: auto;
}

#button-play {
    background: green;
}

#play-text {
    display: flex;
    justify-content: center;
}

#button-info {
    background: red;
}

#info-text {
    display: flex;
    justify-content: center;
}

/*Footer*/
footer {
    background-color: #394B41;
}

#social-networks {
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

#social-networks i {
    font-size: 2rem;
    padding: 5%;
    color: #000;
}